<!-- stack.hbs -->
<div class="establishmentCategory">
    {{#each restaurants}}
        <div class="food-card-vertical">
            <div class="horizontalAlignment">
                <div class="food-card" onclick="window.location.href='/view/restaurant/{{id}}'">
                    <img src="{{picture_address}}" class="food-card">
                </div>
                <div class="food-details" id="card-stack">
                    <div class="horizontalAlignment">
                    <h2>{{name}}</h2>
                    <p class="rating" style="--rating: {{rating}};"></p>
                    </div>
                    <p>Type: {{type}}</p>
                    <p>Address: {{address}}</p>
                    <p>Phone Number: {{phone-number}}</p>
                    <p>Pricing: PHP {{min-price}}-{{max-price}} per person</p>
                </div>
            </div>
            <br>
        </div>
    {{/each}}
</div>