<div class="edit-restaurant" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.88)), url('{{selected.picture_address}}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;">

    <form id="edit-restaurant-form" action="/restaurants/edit/{{selected._id}}" method="post">
        <div class="horizontalAlignment" style="align-items: flex-start;">
            <div class="dropdown">
                <h2>Banner</h2>
                <button type="button" class="dropdown-btn" id="image-select">
                    <img src="{{selected.picture_address}}" height="100vh" width="100vh" style="border-radius: 10px;">
                </button>
                <div class="dropdown-content" style="min-width: 0px;">
                    <div class="dropdown-option">
                        <img src="/common/banner-1.png" height="100vh" width="100vh">
                    </div>
                    <div class="dropdown-option">
                        <img src="/common/banner-2.png" height="100vh" width="100vh">
                    </div>
                    <div class="dropdown-option">
                        <img src="/common/banner-3.png" height="100vh" width="100vh">
                    </div>
                </div>
                <input type="hidden" name="picture_address" id="picture_address" value="{{selected.picture_address}}">
            </div>
            <div>
                <h2>Restaurant Name</h2>
                <input type="text" name="name" id="input-name" value="{{selected.name}}" placeholder="Name*" required>
            </div>
        </div>
        
        <h2>Type of Food</h2>
        <div class="dropdown" id="filterFood-btn">
            <div class="horizontalAlignment">
                <button type="button" class="dropdown-btn" id="selected-type">
                    {{selected.type}}
                    <img src="https://static.vecteezy.com/system/resources/previews/014/455/895/non_2x/down-arrow-icon-on-transparent-background-free-png.png" height="10vh" width="10vh">
                </button>
                <div class="dropdown-content" id="selected-type">
                    <p class="type-option">American</p>
                    <p class="type-option">Italian</p>
                    <p class="type-option">Japanese</p>
                    <p class="type-option">Mexican</p>
                    <p class="type-option">Chinese</p>
                </div>
            </div>
        </div>
        <input type="hidden" name="type" id="food-type" value="{{selected.type}}">

        <h2>Address</h2>
        <input type="text" name="address" id="input-address" value="{{selected.address}}" placeholder="Address*" required>

        <h2>Phone Number</h2>
        <input type="text" name="phone_number" id="input-phone_number" value="{{selected.phone_number}}" placeholder="Phone Number*" required>

        <h2>Pricing Per Person</h2>
        <div class="horizontalAlignment">
            <input type="text" name="pricing_from" id="input-min_price" value="{{selected.pricing_from}}" placeholder="Min Price*" required>
            <p id="to">to</p>
            <input type="text" name="pricing_to" id="input-max_price" value="{{selected.pricing_to}}" placeholder="Max Price*" required>
        </div>

        <div class="button-container">
            <button type="button" class="archive-btn" onclick="archiveRestaurant('{{selected._id}}')">Archive</button>
            <button type="button" class="cancel-btn" onclick="window.location.href='/view/restaurant/{{selected._id}}'">Cancel</button>
            <button type="submit" class="save-btn">Save Changes</button>
        </div>
    </form>
<script>
 function archiveRestaurant(restaurantId) {
    console.log("Button clicked! Restaurant ID:", restaurantId);
    
    if (confirm("Are you sure you want to archive this restaurant?")) {
        fetch(`/archive/${restaurantId}`, { method: 'POST' })
            .then(response => {
                console.log("response: ", response);
                if (!response.ok) {
                    throw new Error(`Failed to archive restaurant, status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log("Server response:", data);
                if (data.success) {
                    alert("Restaurant archived successfully!");
                    window.location.href = '/restaurants';
                } else {
                    alert("Failed to archive restaurant");
                }
            })
            .catch(error => {
                console.error('Fetch error:', error);
                alert(error.message);
            });
    }
}
</script>
</div>
