<section class="food-details-container indiv-restaurant-page-padding-side" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.88)), url('{{selected.picture_address}}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;"> 
    <div class="food-details">
        <h1>{{selected.name}}</h1>
        <div class="rating-container">
            <p class="rating rating-3" style="--rating:{{selected.rating}};"></p>
        </div>
        <p>Type: {{selected.type}}</p>
        <p>Address: {{selected.address}}</p>
        <p>Phone Number: {{selected.phone_number}}</p>
        <p>Pricing: PHP {{selected.pricing_from}}-{{selected.pricing_to}} per person</p>
    </div>
    <div class="button-container1">
        {{> search_bar_reviews}}
        {{#if user}}
        <button class="write-btn" onclick="window.location.href='/{{selected._id}}/create_review'"><img src="/common/write-icon.png" class="icon-margin-right">Write a Review</button>
        {{#if selected.owner}}
        <div class="edit-archive-container button-container-attributes">
            <button class="btn" onclick="window.location.href='/edit/restaurant/{{selected._id}}'"><img src="/common/edit-icon.png" width="15px" height="15px"> </button>
            <div class="divider"></div>
            <button class="btn" onclick="archiveRestaurant('{{selected._id}}')">
            <img src="/common/archive-icon.png" width="15px" height="15px">
            </button>
        </div>
        {{/if}}
        {{/if}}
    </div>
    
<script>
    // Function is defined here and should be accessible
    function archiveRestaurant(restaurantId) {
        console.log("Button clicked! Restaurant ID:", restaurantId); // Debugging

   fetch(`/archive/${restaurantId}`, { method: 'POST' })
    .then(response => {
        console.log("response: ", response);
        if (!response.ok) {
            throw new Error(`Failed to archive restaurant, status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        console.log("Server response:", data);
        if (data.success) {
            alert("Restaurant archived successfully!");
            window.location.href = '/restaurants';
        } else {
            alert("Failed to archive restaurant");
        }
    })
    .catch(error => {
        console.error('Fetch error:', error);
        alert(error.message);
    });
    }
    </script>
</section>