<section class="review-thread-container indiv-restaurant-page-padding-side">
    {{#each reviews}}
        <div><hr></div>
        <div class="review-container" data-review_id="{{_id}}"> 
            <div class="reviewer-container">
                <img src="{{user_id.picture_address}}" alt="User Icon">
                <div class="reviewer-info">
                    <div class="reviewer-name text-clickable" onclick="window.location.href='/users/{{user_id._id}}'">
                        <b><span>{{user_id.first_name}} {{user_id.last_name}} </span></b>
                    </div>
                    <div class="reviewer-date">
                        <span>{{date}}</span>
                    </div>
                </div>
            </div>
            <div class="review-content-container">
                <div class="review-content">
                    <h1 class="text-clickable" onclick="window.location.href='/view_review/{{_id}}'">{{title}}
                    {{#if edit_status}}
                        <span> * </span>
                    {{/if}}


                    </h1>
                    <div class="rating-container">
                        <p class="rating rating-3" style="--rating:{{rating}};"></p>
                    </div>
                    <p class="review-content">{{content}}</p>
                    {{#if has_images}}
                        <div class="review-image-container">
                            {{#each picture_address}}
                            <img src="{{this}}" alt="Review Image"> 
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
                <div class="buttons-space-2">
                    <div class="like-container button-container-attributes">
                        <button class="btn {{#if ../user}}toggle-btn{{/if}} {{#if hasLiked}}on{{/if}}" id="like">
                            <img src="/common/empty-like.png" width="15px" height="15px">
                            <b>{{likes.length}}</b>
                        </button>
                        <div class="divider"></div>
                        <button class="btn {{#if ../user}}toggle-btn{{/if}} {{#if hasDisliked}}on{{/if}}" id="dislike">
                            <img src="/common/empty-unlike.png" width="15px" height="15px">
                            <b>{{dislikes.length}}</b>
                        </button>
                    </div>
                    <div class="comments-container button-container-attributes1 button-clickable gray-button-clickable" onclick="window.location.href='/view_review/{{_id}}'">
                        <img src="/common/comment-icon.png" alt="Comment Icon" class="icon-margin-right">
                        <b>{{num_comments}} comments</b>
                    </div>
                </div>
                {{#if has_owner_reply}}
                <div class="reply-background">
                    <div class="reply-container">
                        <b><p>Reply from <span class="text-clickable" onclick="window.location.href='/{{owner_username}}'">{{owner_name}} (Owner)</span></p></b>
                        <p>{{owner_reply}}</p>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    {{/each}}
</section>