<section class="review-thread-container indiv-restaurant-page-padding-side">
    {{#each reviews}}
        <div><hr></div>
        <div class="review-container">
            <div class="reviewer-container">
                <img src="/common/user-icon.png" alt="User Icon">
                <div class="reviewer-info">
                    <div class="reviewer-name text-clickable" onclick="window.location.href='/user_profile/{{user_id._id}}'">
                        <b><span>{{user_id.first_name}} {{user_id.last_name}}</span></b>
                    </div>
                    <div class="reviewer-date">
                        <span>{{timestamp}}</span>
                    </div>
                </div>
            </div>
            <div class="review-content-container">
                <div class="review-content">
                    <h1 class="text-clickable" onclick="window.location.href='/view/reviews/{{id}}'">{{title}}</h1>
                    <div class="rating-container">
                        <p class="rating rating-3" style="--rating:{{rating}};"></p>
                    </div>
                    <p class="review-content">{{review}}</p>
                    {{#if has_images}}
                        <div class="review-image-container">
                            {{#each image_links}}
                            <img src="{{this}}" alt="Review Image">
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
                <div class="buttons-space-2">
                    <div class="helpful-unhelpful-container button-container-attributes1">
                        <img src="/common/empty-like.png" alt="Helpful Icon" class="icon-margin-right icon-clickable">
                        <b>{{upvotes}}</b>
                        <div class="divider"></div>
                        <img src="/common/empty-unlike.png" alt="Unhelpful Icon" class="icon-margin-right icon-clickable">
                        <b>{{downvotes}}</b>
                    </div>
                    <div class="comments-container button-container-attributes1 button-clickable gray-button-clickable" onclick="window.location.href='/view/reviews/{{id}}'">
                        <img src="/common/comment-icon.png" alt="Comment Icon" class="icon-margin-right">
                        <b>{{comment_count}} comments</b>
                    </div>
                </div>
                {{#if has_owner_reply}}
                <div class="reply-background">
                    <div class="reply-container">
                        <b><p>Reply from <span class="text-clickable" onclick="window.location.href='/{{owner_username}}'">{{owner_name}} (Owner)</span></p></b>
                        <p>{{owner_reply}}</p>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    {{/each}}
</section>