<div class="profile-container">
    <div class="profile-pic-container">
        <div class="profile-img-wrapper">
        <img src="{{user.picture_address}}" alt="Profile Image" class="profile-img">
        </div>
        <div class="image-delete-container button-container-attributes">
            <button class="btn"><img src="/common/picture-icon.png" width="15px" height="15px"></button>
            <div class="divider"></div>
            <button class="btn"><img src="/common/delete-icon.png" width="15px" height="15px"></button>
        </div>
    </div>

    <div class="editprofile-section">
        <form id="editProfileForm" method="POST" action="/users/{{user._id}}">
            <div class="name-group">
                <input type="text" name="firstName" value="{{user.first_name}}" placeholder="First Name*" required>
                <input type="text" name="lastName" value="{{user.last_name}}" placeholder="Last Name*" required>
            </div>
            <input type="text" name="username" value="{{user.username}}" placeholder="Username*" required>

            <div class="bio-box">
                <textarea id="bio" name="bio" maxlength="1500" placeholder="Biography">{{user.biography}}</textarea>
                {{!-- <span class="char-counter" id="char-counter">0/1500</span> --}}
            </div>

            <div class="buttons">
                <button type="button" class="cancel-btn" onclick="history.back()">Cancel</button>
                {{!-- Changed to button first --}}
                <button type="button" class="save-btn" onclick="history.back()">Save Changes</button>
            </div>
        </form>
    </div>
</div>
    {{!-- <!--Profile Details-->
    <div class="profile-details-container">
        <div class="profile-form-container">
            <form action="#" method="POST">
                <div class="name-group">
                    <div>
                        <h2>First Name</h2>
                        <input type="text" id="first-name" placeholder="First Name" required>
                    </div>
                    <div>
                        <h2>Last Name</h2>
                        <input type="text" id="last-name" placeholder="Last Name" required>
                    </div>
                </div>

                <div class="short-form">
                    <h2>Username</h2>
                    <input type="text" id="username" placeholder="Username" required>
                </div>

                <div class="bio-box">
                    <h2>Biography</h2>
                    <textarea id="bio" maxlength="1500" placeholder="Biography"></textarea>
                </div>
                
            </form>
        </div>
    </div> --}}
</div>