<!-- category.hbs -->
{{#each restaurants}}
    <div class = "establishmentCategory"> 
        <h2>{{@key}}</h2>
        <div class="food-scroll-container">
            {{#each this}}
                <div class="food-card" onclick="window.location.href='/view/restaurant/{{id}}'">
                    <img src={{picture_address}}>
                    <div class="food-info">
                        <h3>{{name}}</h3>
                        <p>{{type}}</p>
                        <p class="rating" style="--rating: {{rating}};"></p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/each}}