<div class="prof-section" id="comments" style="display: none;">
{{#each comments}}
    {{#if is_owner}}
        <div class="reply-background">
    {{else}}
        <div class="reply-background-2">
    {{/if}}
            <div class="reply-container">
                <div class="reply-heading-container">
                    <div class="reviewer-date">
                        <span>Comment on <span class="text-clickable" onclick="window.location.href='/view_review/{{review_id._id}}'">"{{review_id.title}}"</span></span>
                        {{#if edit_status}}
                        <span> * </span>
                        {{/if}}
                    </div>
                    {{#if ../isOwnProfile}}
                    <form action="/view/reviews/{{review_id._id}}/edit/{{_id}}" method="get" style="display: inline;">
                        <input type="image" src="/common/edit-icon.png" alt="Edit Icon" class="icon-margin-left-right icon-clickable">
                    </form>
                    <div class="divider"></div>
                    <form action="/comments/delete/{{_id}}" method="post" style="display: inline;">
                        <input type="image" src="/common/delete-icon.png" alt="Delete Icon" class="icon-margin-left-right icon-clickable" onclick="deleteComment('{{selected._id}}', event)">
                    </form>
                    {{/if}}
                </div>
                <p>{{content}}</p>
            </div>
        </div>
{{/each}}
</div>


<script>
    function deleteComment(commentId, event) {
    event.preventDefault(); // Prevent form submission
    if (confirm("Are you sure you want to delete this comment?")) {
        fetch(`/delete/comment/${commentId}`, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Comment deleted successfully!');
                window.location.href = '/restaurants'; 
            } else {
                alert('Error deleting comment!');
            }
        })
        .catch(error => {
            console.error('Error deleting comment:', error);
            alert('Failed to delete comment.');
        });
    }
}
</script>