<div class="prof-section" id="comments" style="display: none;">
{{#each comments}}
    {{#if is_owner}}
        <div class="reply-background">
    {{else}}
        <div class="reply-background-2">
    {{/if}}
            <div class="reply-container">
                <div class="reply-heading-container">
                    <div class="reviewer-date">
                        <span>Comment on <span class="text-clickable" onclick="window.location.href='/view/reviews/{{review_id._id}}'">"{{review_id.title}}"</span></span>
                    </div>
                    {{#if ../isOwnProfile}}
                    <img src="/common/edit-icon.png" alt="Edit Icon" class="icon-margin-left-right icon-clickable" onclick="window.location.href='/view/reviews/{{review_id._id}}/edit/{{_id}}'">
                    <div class="divider"></div>
                    <img src="/common/delete-icon.png" alt="Delete Icon" class="icon-margin-left-right icon-clickable">
                    {{/if}}
                </div>
                <p>{{content}}</p>
            </div>
        </div>
{{/each}}
</div>