<div class="prof-profile-container">
    <img src="{{user.picture_address}}" alt="Profile Picture" class="prof-profile-pic">
    <div class="prof-profile-info"> 
        <div class="prof-profile-details">
            <h2>{{user.first_name}} {{user.last_name}}<span class="prof-username">@{{user.username}}</span></h2>
        </div>
        <p class="prof-bio">{{user.biography}}</p>
        {{#if isOwnProfile}}
            <button class="editprofile-btn" onclick="window.location.href='/edit/profile'">
                <img src="/common/edit-icon-white.png" alt="Edit Profile" class="prof-edit-icon-white">Edit Profile
            </button>
        {{/if}}
    </div>
</div>