<div class="restaurantCategory prof-section" id="restaurant" style="display: none;">
    {{#each restaurants}}
        <div class="food-card-vertical">
            <div class="horizontalAlignment">
                <div class="food-card" onclick="window.location.href='/view/restaurant/{{_id}}'">
                    <img src="{{picture_address}}" alt="{{name}}" class="food-card">
                </div>
                <div class="food-details" id="card-stack">
                    <div class="horizontalAlignment">
                    <h2>{{name}}</h2>
                    <p class="rating" style="--rating: {{rating}};"></p>
                    {{!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/013/743/771/small/five-stars-rating-icon-png.png" height="10%" width="10%"> --}}
                    </div>
                    <p>Type: {{type}}</p>
                    <p>Address: {{address}}</p>
                    <p>Phone Number: {{phone_number}}</p>
                    <p>Pricing: PHP {{pricing_from}}-{{pricing_to}} per person</p>
                </div>
            </div>
            <br>
        </div>
    {{/each}}
</div>