<form action="/users/register" method="POST" id="register-form-step2" enctype="multipart/form-data">
    <input type="hidden" name="email_address" value="{{formData.email_address}}">
    <input type="hidden" name="first_name" value="{{formData.first_name}}">
    <input type="hidden" name="last_name" value="{{formData.last_name}}">
    <input type="hidden" name="username" value="{{formData.username}}">
    <input type="hidden" name="password" value="{{formData.password}}">
    <input type="hidden" name="confirm_password" value="{{formData.confirm_password}}">
    
    <div id="reg-page-2">
        <div class="upload-pic-container">
            <div class="upload-container">
                <label class="upload-box">
                    <input type="file" id="file-input" name="picture_address" accept="image/*">
                    <img id="profile-image" src="">
                    <span class="plus">+</span>
                </label>
                <div class="upload-label">
                    <span>Upload Your Profile Picture</span>
                    <span class="max-size">(Max: 50 MB)</span>
                </div>
            </div>
        </div>

        <div class="bio-box">
            <textarea id="bio" name="biography" maxlength="1500" placeholder="Biography">{{formData.biography}}</textarea>
            <span class="char-counter" id="char-counter">0/1500</span>
        </div>

        <div class="buttons">
            <button type="button" class="prev-btn" onclick="window.location.href='/register'">Previous</button>
            <button type="submit" class="signup-btn">Sign Up</button>
        </div>
    </div>
</form>