<div class="review-container">
    <div class="reviewer-container">
        <img src="/common/user-icon.png" alt="User Icon">
        <div class="reviewer-info">
            <div class="reviewer-name text-clickable" onclick="window.location.href='/view/user/{{selected._id}}'">
                <b><span>{{selected.first_name}} {{selected.last_name}}</span></b>
            </div>
            <div class="reviewer-date">
                <span>{{selected.date}}</span>
            </div>
        </div>
    </div>
    <div class="review-content-container">
        <div class="review-content">
            <h1>{{selected.title}}</h1>
            <div class="rating-container">
                <p class="rating rating-3" style="--rating:{{selected.rating}};"></p>
            </div>
            <p class="review-content">{{selected.content}}</p>
            {{#if selected.has_images}}
                <div class="review-image-container">
                    {{#each selected.picture_addresses}}
                    <img src="{{this}}" alt="Review Image">
                    {{/each}}
                </div>
            {{/if}}
        </div>
        <div class="buttons-space-2">
            <div class="like-container button-container-attributes">
                <button class="btn toggle-btn" id="like">
                    <img src="/common/empty-like.png" width="15px" height="15px">
                    <b>{{selected.likes}}</b>
                </button>
                <div class="divider"></div>
                <button class="btn toggle-btn" id="dislike">
                    <img src="/common/empty-unlike.png" width="15px" height="15px">
                    <b>{{selected.dislikes}}</b>
                </button>
            </div>
            <div class="comments-container button-container-attributes1 button-clickable gray-button-clickable">
                <img src="/common/comment-icon.png" alt="Comment Icon" class="icon-margin-right">
                <b>{{selected.num_comments}} comments</b>
            </div>
            <div class="edit-delete-container button-container-attributes">
                <button class="btn"><img src="/common/edit-icon.png" width="15px" height="15px" onclick="window.location.href='/edit/review/{{selected.id}}'"></button>
                <div class="divider"></div>
                <button class="btn"><img src="/common/delete-icon.png" width="15px" height="15px"></button>
            </div>
        </div>
    </div>
</div>
<div class="comment-feature-container">
    <div class="comment-input-container">
        <textarea name="comment" placeholder="Write your comment...">{{comment.comment}}</textarea>
    </div>
    <div class="button-container1 buttons-space-2 buttons-space-4">
        <button class="delete-btn"><img src="/common/delete-icon-2.png" alt="Delete Icon" class="icon-margin-right">Delete</button>
        <button class="cancel-btn" onclick="history.back()">Cancel</button>
        <button class="save-btn">Save Changes</button>
    </div>
</div>