<div class="review-container" data-review_id="{{selected._id}}" data-user_id="{{#if user}}{{user._id}}{{else}}{{/if}}">
    <div class="reviewer-container">
        <img src="{{selected.user_id.picture_address}}" alt="User Icon">
        <div class="reviewer-info">
            <div class="reviewer-name text-clickable" onclick="window.location.href='/users/{{selected.user_id._id}}'">
                <b><span>{{selected.user_id.first_name}} {{selected.user_id.last_name}}</span></b>
            </div>
            <div class="reviewer-date">
                <span>{{selected.date}} {{selected.hasLiked}}</span>
            </div>
        </div>
    </div>
    <div class="review-content-container">
        <div class="review-content">
            <h1>{{selected.title}}</h1>
            <div class="rating-container">
                <p class="rating rating-3" style="--rating:{{selected.rating}};"></p>
            </div>
            <p class="review-content">{{selected.content}}</p>
            {{#if selected.has_images}}
                <div class="review-image-container">
                    {{#each selected.picture_addresses}}
                    <img src="{{this}}" alt="Review Image">
                    {{/each}}
                </div>
            {{/if}}
        </div>
        <div class="buttons-space-2">
            <div class="like-container button-container-attributes">
                <button class="btn {{#if user}}toggle-btn{{/if}} {{#if selected.hasLiked}}on{{/if}}" id="like">
                    <img src="/common/empty-like.png" width="15px" height="15px">
                    <b>{{selected.likes.length}}</b>
                </button>
                <div class="divider"></div>
                <button class="btn {{#if user}}toggle-btn{{/if}} {{#if selected.hasDisliked}}on{{/if}}" id="dislike">
                    <img src="/common/empty-unlike.png" width="15px" height="15px">
                    <b>{{selected.dislikes.length}}</b>
                </button>
            </div>
            <div class="comments-container button-container-attributes1 button-clickable gray-button-clickable">
                <img src="/common/comment-icon.png" alt="Comment Icon" class="icon-margin-right">
                <b>{{selected.num_comments}} comments</b>
            </div>
            {{#if user}}
            <div class="edit-delete-container button-container-attributes">
                <button class="btn"><img src="/common/edit-icon.png" width="15px" height="15px" onclick="window.location.href='/edit/review/{{selected.id}}'"></button>
                <div class="divider"></div>
                <button class="btn"><img src="/common/delete-icon.png" width="15px" height="15px"></button>
            </div>
            {{/if}}
        </div>
    </div>
</div>

{{!-- <form action="/comments/edit/{{comment._id}}" method="post">    
    <div class="comment-feature-container">
        <div class="comment-input-container">
            <textarea name="content" placeholder="Write your comment..." required>{{comment.content}}</textarea>
        </div>
        <div class="button-container1 buttons-space-2 buttons-space-4">
            <form action="/comments/delete/{{comment._id}}" method="post" style="display: inline;">
                <button type="submit" class="delete-btn">
                    <img src="/common/delete-icon-2.png" alt="Delete Icon" class="icon-margin-right">Delete
                </button>
            </form>
            <button type="button" class="cancel-btn" onclick="window.location.href='/view_review/{{comment.review_id}}'">Cancel</button>
            <button type="submit" class="save-btn">Save Changes</button>
        </div>
    </div>
</form> --}}

<form action="/comments/edit/{{comment._id}}" method="post">
    <div class="comment-feature-container">
        <div class="comment-input-container">
            <textarea name="content" placeholder="Write your comment..." required>{{comment.content}}</textarea>
        </div>
        <div class="button-container1 buttons-space-2 buttons-space-4">
            <button type="button" class="delete-btn" onclick="if(confirm('Are you sure you want to delete this comment?')) document.getElementById('delete-form-{{comment._id}}').submit();">
                <img src="/common/delete-icon-2.png" alt="Delete Icon" class="icon-margin-right">Delete
            </button>
            <button type="button" class="cancel-btn" onclick="window.location.href='/view_review/{{comment.review_id}}'">Cancel</button>
            <button type="submit" class="save-btn">Save Changes</button>
        </div>
    </div>
</form>

<form id="delete-form-{{comment._id}}" action="/comments/delete/{{comment._id}}" method="post" style="display: none;">
</form>

